@model AvaliacaoCNPJ.Models.ApiObjeto
@{
    ViewData["Title"] = "Cnpj";
}
<h2>Cnpj</h2>

<div class="row">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cnpj)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
           
                <tr>
                    <td>
                        <input asp-for="Status" class="form-control" />

                    </td>
                    <td>
                        <input asp-for="Message" class="form-control" />

                    </td>
                    <td>
                        <input asp-for="Cnpj" class="form-control" />

                    </td>
                    <td>
                        <input asp-for="Nome" class="form-control" />

                    </td>
                </tr>
        </tbody>
    </table>
</div>

