@{
    ViewData["Title"] = "Index";
}
<style>
    .alerta {
	padding: 13px;
	border: 1px solid gray;
	border-radius: 3px;
	margin: 10px;
    margin-left: 0px;
	font-size: 12px;
}
.error {
	border-color: #e8273b;
	color: #FFF;
	background-color: #ed5565;
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("input").on("keyup", function (e) {
            $(this).val(
                $(this).val()
                    .replace(/\D/g, '')
                    .replace(/^(\d{2})(\d{3})?(\d{3})?(\d{4})?(\d{2})?/, "$1.$2.$3/$4-$5"));
        });

        $("#btnSend").click(function () {
            var cnpj = $("#txtCep").val();
            cnpj = cnpj.replace(".", "");
            cnpj = cnpj.replace("-", "");
            cnpj = cnpj.replace("/", "");
            cnpj = cnpj.replace(".", "");


        })
    })
</script>
<h2>Cnpj</h2>
<div class="row">
    <form asp-action="Cnpj">
        <div class="col-md-2">
            <input  id="txtCep" name="txtCep" class="form-control" />
        </div>

        <div class="col-md-2">
            <button class="btn btn-success" id="btnSend">Consultar</button>
        </div>

    </form>

</div>
@if(TempData["erro"] != null){
<div class="alerta error">@TempData["erro"]</div>
}
