@model AvaliacaoCNPJ.Models.CnpjTO
@{
    ViewData["Title"] = "Index";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("input").on("keyup", function (e) {
            $(this).val(
                $(this).val()
                    .replace(/\D/g, '')
                    .replace(/^(\d{2})(\d{3})?(\d{3})?(\d{4})?(\d{2})?/, "$1.$2.$3/$4-$5"));
        });

        $("#btnSend").click(function () {
            var cnpj = $("#txtCep").val();
            cnpj = cnpj.replace(".", "");
            cnpj = cnpj.replace("-", "");
            cnpj = cnpj.replace("/", "");
            cnpj = cnpj.replace(".", "");


        })
    })
</script>
<h2>Cnpj</h2>

<p>
    <a asp-action="Cnpj" class="btn btn-default">CNp</a>
</p>

<div class="row">
    <form asp-action="Cnpj">
        <div class="form-group">
            <input asp-for="Cnpj" id="txtCep" class="form-control" />
        </div>

        <div class="col-md-2">
            <button class="btn btn-success" id="btnSend">Consultar</button>
        </div>

    </form>

</div>
